
name: 2Deploy Fullstack App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: |
            backend/package-lock.json
            exam-frontend/package-lock.json
      # ------------------------------
      # BACKEND SETUP
      # ------------------------------
      - name: Install backend dependencies
        working-directory: ./backend
        run: npm install
      - name: Install PM2 globally
        run: npm install -g pm2
      - name: Create backend .env file
        working-directory: ./backend
        run: |
          touch .env
          echo "${{ secrets.PROD_BACKEND_ENV }}" > .env
      - name: Start backend with PM2
        working-directory: ./backend
        run: |
          pm2 restart backend || pm2 start app.js --name backend
      # ------------------------------
      # FRONTEND SETUP
      # ------------------------------
      - name: Clean npm cache & remove existing dependencies
        working-directory: ./exam-frontend
        run: |
          rm -rf node_modules package-lock.json
          npm cache clean --force
      - name: Install frontend dependencies
        working-directory: ./exam-frontend
        run: npm install

      - name: Create frontend .env file
        working-directory: ./exam-frontend
        run: |
          touch .env
          echo "${{ secrets.PRODFRONTEND_ENV }}" > .env
      - name: Build frontend
        working-directory: ./exam-frontend
        run: npm run build

      - name: Deploy frontend to Nginx
        run: |
          sudo rm -rf /var/www/html/*
          sudo cp -r ./exam-frontend/dist/* /var/www/html/
